#detalles de los inmuebles

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del inmueble</title>
</head>
<body>
    <h1> {{inmueble.nombre}} </h1>
    <p> {{inmueble.descripcion}} </p>
    <p> Direccion: {{inmueble.direccion}} </p>
    <p> Comuna: {{inmueble.comuna}} </p>
    <p> Precio Mensual: $ {{inmueble.precio_mensual}} </p>
    <p> Área Construida: {{inmueble.m2_construidos}} m2 </p>
    <p> Área Total: {{inmueble.m2_totales}} m2 </p>
    <p> Habitaciones: {{inmueble.habitaciones}} </p>
    <p> Baños: {{inmueble.banos}} </p>
    <p> Estacionamientos: {{inmueble.estacionamientos}} </p>
    
</body>
</html>